<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <title>Zarządzanie Zadaniami</title>
    <link rel="stylesheet" href="/static/home.css" />
  </head>
  <body>
    <div class="page-background">
      <div class="container">
        <h1>Zarządzanie Zadaniami</h1>
        <p class="subtitle">
          Prosta aplikacja do organizacji Twoich codziennych zadań.
        </p>

        <div class="author">
          <h2>Autor projektu</h2>
          <p><strong>Fedir Shvetsov</strong><br />Nr albumu: 66805</p>
        </div>

        <a href="/zadania" class="btn">Przejdź do listy zadań</a>
      </div>
    </div>
  </body>
</html>
