<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <title>Zarządzanie Zadaniami</title>
    <link rel="stylesheet" href="/static/style.css" />
    <script>
      let editingId = null;
      let token = null;

      function showError(message) {
        const errorBox = document.getElementById('errorBox');
        errorBox.innerText = message;
        errorBox.style.display = 'block';
        setTimeout(() => {
          errorBox.style.display = 'none';
        }, 4000);
      }

      function validateZadanieForm() {
        const tytul = document.getElementById('tytul').value.trim();
        const opis = document.getElementById('opis').value.trim();
        const deadline = document.getElementById('deadline').value;
        const priorytet = document
          .getElementById('priorytet')
          .value.trim()
          .toLowerCase();

        const today = new Date().toISOString().split('T')[0];

        if (tytul.length < 3 || tytul.length > 50) {
          showError('Tytuł musi mieć od 3 do 50 znaków.');
          return false;
        }
        if (opis.length < 10 || opis.length > 200) {
          showError('Opis musi mieć od 10 do 200 znaków.');
          return false;
        }
        if (!deadline) {
          showError('Musisz podać datę zakończenia.');
          return false;
        }
        if (deadline < today) {
          showError('Data nie może być wcześniejsza niż dzisiaj.');
          return false;
        }
        const validPriorytety = ['niski', 'średni', 'sredni', 'wysoki'];
        if (!validPriorytety.includes(priorytet)) {
          showError(
            'Priorytet musi być jednym z: "niski", "średni", "wysoki".',
          );
          return false;
        }
        return true;
      }

      async function loadZadania() {
        try {
          const res = await fetch('/api/zadania');
          const zadania = await res.json();
          const list = document.getElementById('zadania');
          list.innerHTML = zadania
            .map(
              z => `
          <li>
            <strong>${z.tytul}</strong> (${z.priorytet})<br>
            ${z.opis}<br>
            Termin: ${z.deadline}<br>
            <button onclick="editZadanie(${z.id}, '${z.tytul}', '${z.opis}', '${z.deadline}', '${z.priorytet}')">Edytuj</button>
            <button onclick="deleteZadanie(${z.id})">Usuń</button>
          </li>
        `,
            )
            .join('');
        } catch (err) {
          showError(err.message);
        }

        const buttons = list.querySelectorAll('button');
        buttons.forEach(btn => {
          if (
            !token &&
            (btn.innerText === 'Edytuj' || btn.innerText === 'Usuń')
          ) {
            btn.style.display = 'none';
          } else {
            btn.style.display = 'inline';
          }
        });
      }

      async function addZadanie() {
        if (!validateZadanieForm()) return;
        const tytul = document.getElementById('tytul').value;
        const opis = document.getElementById('opis').value;
        const deadline = document.getElementById('deadline').value;
        const priorytet = document.getElementById('priorytet').value;

        try {
          const headers = {
            'Content-Type': 'application/json',
          };
          if (token) headers['Authorization'] = 'Bearer ' + token;

          if (editingId) {
            // tryb edycji
            await fetch('/api/zadania/' + editingId, {
              method: 'PUT',
              headers: headers,
              body: JSON.stringify({ tytul, opis, deadline, priorytet }),
            });
            editingId = null;
            document.getElementById('addBtn').innerText = 'Dodaj';
          } else {
            // tryb dodawania
            await fetch('/api/zadania', {
              method: 'POST',
              headers: headers,
              body: JSON.stringify({ tytul, opis, deadline, priorytet }),
            });
          }

          clearForm();
          loadZadania();
        } catch (err) {
          showError('Nie udało się zapisać zadania');
        }
      }

      function editZadanie(id, tytul, opis, deadline, priorytet) {
        document.getElementById('tytul').value = tytul;
        document.getElementById('opis').value = opis;
        document.getElementById('deadline').value = deadline;
        document.getElementById('priorytet').value = priorytet;
        document.getElementById('addBtn').innerText = 'Zapisz zmiany';
        editingId = id;
      }

      async function deleteZadanie(id) {
        const headers = {};
        if (token) headers['Authorization'] = 'Bearer ' + token;

        await fetch('/api/zadania/' + id, {
          method: 'DELETE',
          headers,
        });
        loadZadania();
      }

      function clearForm() {
        document.getElementById('tytul').value = '';
        document.getElementById('opis').value = '';
        document.getElementById('deadline').value = '';
        document.getElementById('priorytet').value = '';
      }

      async function login() {
        const loginVal = document.getElementById('login').value;
        const passwordVal = document.getElementById('password').value;

        const loginPattern = /^[a-zA-Z0-9]{3,20}$/;
        if (!loginPattern.test(loginVal)) {
          showError('Login może zawierać tylko litery i cyfry (3-20 znaków).');
          return;
        }
        if (passwordVal.length < 6) {
          showError('Hasło musi mieć co najmniej 6 znaków.');
          return;
        }

        const res = await fetch('/login', {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify({ login: loginVal, password: passwordVal }),
        });

        const data = await res.json();
        if (res.status === 200) {
          token = data.token;
          alert('Zalogowano pomyślnie!');
          loadZadania();
        } else {
          showError(data.error);
        }
      }

      async function register() {
        const loginVal = document.getElementById('reg_login').value.trim();
        const passwordVal = document
          .getElementById('reg_password')
          .value.trim();

        const loginPattern = /^[a-zA-Z0-9]{3,20}$/;
        if (!loginPattern.test(loginVal)) {
          showError('Login może zawierać tylko litery i cyfry (3-20 znaków).');
          return;
        }
        if (passwordVal.length < 6) {
          showError('Hasło musi mieć co najmniej 6 znaków.');
          return;
        }

        const res = await fetch('/register', {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify({ login: loginVal, password: passwordVal }),
        });

        const data = await res.json();
        if (res.status === 201) {
          alert('Konto utworzone pomyślnie! Teraz możesz się zalogować.');
        } else {
          showError(data.error);
        }
      }

      window.onload = loadZadania;
    </script>
  </head>
  <body>
    <div class="page-background">
      <div class="content-wrapper">
        <header>
          <div class="container">
            <div class="header-container">
              <img
                src="/static/images/Logo_proj_zesp.png"
                alt="Logo"
                class="img-logo"
              />
              <h1 class="main-title">Proces uwierzytelniania</h1>
            </div>
          </div>
        </header>

        <div id="errorBox"></div>

        <main>
          <section class="section">
            <div class="container">
              <div class="log-rejestr">
                <div class="card log">
                  <h2>Logowanie</h2>
                  <input
                    id="login"
                    placeholder="Login"
                    required
                    minlength="3"
                    maxlength="20"
                    pattern="[A-Za-z0-9]+"
                  />
                  <input
                    id="password"
                    type="password"
                    placeholder="Hasło"
                    required
                    minlength="6"
                  />
                  <button onclick="login()">Zaloguj się</button>
                </div>

                <div class="card rejestracja">
                  <h2>Rejestracja</h2>
                  <input
                    id="reg_login"
                    placeholder="Login"
                    required
                    minlength="3"
                    maxlength="20"
                    pattern="[A-Za-z0-9]+"
                  />
                  <input
                    id="reg_password"
                    type="password"
                    placeholder="Hasło"
                    required
                    minlength="6"
                  />
                  <button onclick="register()">Zarejestruj się</button>
                </div>
              </div>
            </div>
          </section>

          <section class="section">
            <div class="container">
              <div class="card add-zad">
                <h2>Dodaj / Edytuj zadanie</h2>
                <input
                  id="tytul"
                  placeholder="Tytuł"
                  required
                  minlength="3"
                  maxlength="50"
                />
                <input
                  id="opis"
                  placeholder="Opis"
                  required
                  minlength="10"
                  maxlength="200"
                />
                <input id="deadline" type="date" required />
                <input
                  id="priorytet"
                  placeholder="Priorytet (niski/średni/wysoki)"
                  required
                  pattern="(niski|średni|sredni|wysoki)"
                />
                <button id="addBtn" onclick="addZadanie()">Dodaj</button>
              </div>
            </div>
          </section>

          <section class="section">
            <div class="container">
              <div class="card lista-zad">
                <h2>Lista Zadań</h2>
                <ul id="zadania"></ul>
              </div>
            </div>
          </section>
        </main>
      </div>
    </div>

    <!-- авыа -->
  </body>
</html>
